*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .header{
    display: flex;
    flex-wrap: wrap;
} */

.caja{
    flex-basis: 300px;
    min-height: 30px;
    background: red;
    margin: 10px;
}

.media{
    width: 100px;
    height: 100px;
}