*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    min-width: 300px;
}

:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --button: #FAF8F7;

    --font-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --size-300: 300;
    --size-400: 400;
    --size-500: 500;
    --size-700: 700;
}

.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    min-height: 310px;
    padding: 16px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__title-container{
    padding: 0px 16px;
}

.header__title-container h1{
    padding-bottom: 24px;
    font-size: 2.4rem;
    font-weight: var(--size-700);
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p{
    font-size: 1.4rem;
    font-weight: var(--size-500);
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__button {
    position: absolute;
    bottom: -18px;
    padding: 1.5rem 1.6rem;
    background: var(--button);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(89, 73, 30, 0.20);
}

.header__button a {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: var(--size-700);
    text-decoration: none;
    color: var(--warm-black);
}

.header__button span {
    padding-inline-start: 1.4rem;
    padding-inline-end: 0.2rem;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 1.6rem;
}

.container__exchange {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.container__image {
    width: 195px;
    height: 195px;
    margin-inline-start: 10px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-repeat: no-repeat;
}

.container__text-content {
    margin-block: 4rem 3.6rem;
}

.container__text-content h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: var(--size-700);
    margin-block-end: 2.4rem;
}

.container__text-content p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: var(--size-500);
    color: #757575;
}

.main-tables__content-table {
    font-family: var(--font-inter);
}

.main__table {
    width: 100%;
    margin-block-end: 16px;
}

.main__table tr > th {
    padding: 12px;
    text-align: start;
    font-family: var(--font-sans);
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #FF9536;
}

.main__table tr > td {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: var(--size-500);
    color: #B5B0AC;
    padding: 10px 12px;
}

.main__table tr > td:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: var(--size-400);
    color: #757575;
    border: none;
}

.main__table--rowdown {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('./assets/icons/trending-down.svg');
    background-repeat: no-repeat;
}

.main__table--rowup {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-inline-start: 5px;
    background-image: url('./assets/icons/trending-up.svg');
    background-repeat: no-repeat;
}

.main-tables__updated{
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-orange);
}

.main-tables__updated p {
    font-size: 1.2rem;
    font-weight: 1.9rem;
    font-weight: var(--size-500);
}